<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <meta name="author" content="Keiron O'Shea">
    <title>{% block title %}{% endblock %} : RUCWH - RUnescape Clan Week Helper</title>
    <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}"
           rel="stylesheet">
    {% block head %}
    {% endblock %}

</head>
<body>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>

</body>

<!-- Javascript Imports -->

<script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>
<script type="text/javascript"  src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>

<script type="text/javascript"  src="{{ url_for('static', filename='node_modules/moment/min/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>


{% block javascript %}


{% endblock %}

</html>
